<h1>Search Results</h1>
<p><%= link_to 'Back', users_path %></p>
<% if @search.search_users.empty? %>

<p> No Records Found </p>

<%else%>

<%@search.search_users.each do |c| %>
<br>
<div class="div">
<p>Email: <%=c.email%></p>
<p>ID: <%= c.userID %> </p>
</div>
<%end%>
<%end%>