<!DOCTYPE>
<html>

    <!-- this pages is only visable to officers. -->

    <%= stylesheet_link_tag "stylesMembers.css" %>

    <body class="background">

        <div class="user_area">
            <h2 class="header">Users</h2>
            <div>
                <table>
                    <!-- Table header -->
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Is Officer</th>
                        <th>Actions</th>
                    </tr>

                    <!-- test rows to see style. remove once done-->
                    <tr>
                        <td>test</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>test</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>test</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>test</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>

                <div>
                <!-- This is a template for inserting into the table. Just replace this in the test row area. -->
                <!-- Gotta fix the ruby  because html gets mad :/ -->
                <!-- < @users.each do |user| > -->
                    <!--    <tr> -->
                    <!--        <td> <= user.name > </td> -->
                    <!--        <td> <= user.username > </td> -->
                    <!--        <td> <= user.isOfficer > </td> -->
                    <!--    </tr> -->
                </div>

            </div>
        </div>

    </body>

</html>