.background
{
    background-color: #660000;
}

.points_area
{
    font-family: verdana;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding: 10px;
}

.button
{
    font-family: verdana;
    display: block;
    border-radius: 4px;
    background-color: white;
    border: none;
    color: #660000;
    font-size: 24px;
    width: 200px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 2%;
}

.button:hover 
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.header
{
    text-align: center;
    color: gray;
}

table 
{
    border-collapse: collapse;
    width: 100%;
}
  
th, td 
{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th 
{
    background-color: gray;
    color: white;
}

.btn-group{
    display: block; /* Make the buttons appear below each other */
    position: fixed;
    display: block;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 35%;
    left: 50%;
  }

#btn{
    margin: auto;
    -ms-transform: translateY(350%);
    transform: translateY(350%);
    margin-bottom: 10px;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}