.background
{
    background-color: #660000;
}

.center
{
  font-family: verdana;
  position: fixed;
  display: block;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 35%;
  left: 50%;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  height: 355px;
  width: 400px;
}

.button
{
    font-family: verdana;
    display: block;
    border-radius: 4px;
    background-color: white;
    border: none;
    color: #660000;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 2%;
}

.button:hover 
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2
{
    font-family: verdana;
    display: block;
    border-radius: 4px;
    background-color: #660000;
    border: none;
    color: white;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 2%;
}

.button2:hover 
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=number] 
{
    border: 2px solid gray;
    border-radius: 4px;
    height: 25px;
    width: 100%;
}

input[type=date] 
{
    border: 2px solid gray;
    border-radius: 4px;
    height: 25px;
    width: 100%;
}

select 
{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#edit
{
    height: 290px;
}

#announcement
{
    height: 250px;
}

#long
{
    width: 220px;
}