.background
{
  background-color: #660000;
}

.center
{
  font-family: verdana;
  position: fixed;
  display: block;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 35%;
  left: 50%;
  border-radius: 5px;
  background-color: white;
  color: #660000;
  height: 200px;
  width: 300px;
  text-align: center;
  padding: 10px;
}

.button
{
  display: block;
  border-radius: 4px;
  background-color: #660000;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover 
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.19);
}